In [1]:
import pandas as pd
pd.__version__

ModuleNotFoundError: No module named 'pandas'

# EJERCIO 1 
Crear y visualizar un arreglo unidimensional como una estructura de Series.

In [ ]:
datos = [1, 2, 4, 5, 11]
serie = pd.Series(datos)

In [ ]:
serie

In [ ]:
serie.size

5

In [ ]:
serie.describe()

# EJERCICIO 2
Aplicar las operaciones artiméticas básicas sobre objetos series

In [ ]:
serie1 = pd.Series([1, 2, 5, 8, 10, 15, 69])
serie2 = pd.Series([1, 2.8, 6, 7, 13, 14, 68])

In [ ]:
serie1 + serie2

In [ ]:
serie1 - serie2

In [ ]:
serie1 * serie2

In [ ]:
serie1 / serie2

#Ejericicio 3

Convertir un diccionario python en un objeto series

In [ ]:
datos3 = {'a':10, 'b':20, 'c':30, 'd':40}

series3 = pd.Series(datos3)

series3

In [ ]:
series3['a']

# Ejercicio 4
Convertir un arreglo Numpy en un objeto Series

In [ ]:
import numpy as np

In [ ]:
arreglo4 = np.array([2, 5, 6, 7, 10, 20, 36, 54])
arreglo4

In [ ]:
series4 = pd.Series(arreglo4)

series4

#Ejercicio 5
Cambiar el tipo de datos de un objeto series.

datos5 = pd.Series(['100', '200', 'python', '300.15', '500.3'])

datos5

In [ ]:
datos5 = pd.to_numeric(datos5, errors='coerce')

datos5

# Ejercicio 6   
Obtener una columna de un objeto dataframe como un objeto series

In [ ]:
datos6 = {'A': [1, 2, 3, 4, 5], 'B':[1, 2, 3, 4, 5], 'C':[1, 2, 3, 4, 5]}

df6 = pd.DataFrame(data=datos6)

df6

In [ ]:
columna6 = df6.loc[:,1]

columna6

#Ejercicio 7

Extraer una fila de un dataframe como un objeto series

In [ ]:
datos7 = { 'A':[2, 3, 5, 5, 6], 'B':[2, 3, 4, 5, 6,7], 'C':[4, 6, 7, 8, 9,]}

datos7

In [ ]:
df7 = pd.DataFrame(data=datos7)

df7

In [ ]:
fila7 = df7.iloc[2:]

fila7

#Ejericio 10
Extraer una fila de un dataframe como un objeto series

In [ ]:
datos10 = {'A':[1, 3, 3, 4, 4], 'B': [3, 5, 6, 7, 8], 'C':[10, 20, 23, 54, 74]}

datos10

In [ ]:
df10 = pd.DataFrame(datos10)

df10

In [ ]:
fila10 = df10.iloc[2,:]

fila10

# Ejercicio 11
Convertir un objeto series con multiples listas en un unico  objeto serie

In [ ]:
datos11 = [['mexico','peru', 'colombia'], ['españa', 'alemania', 'francia'], ['rusia']]

serie11 = pd.Series(datos11)

serie11