In [1]:
import pandas as pd
pd.__version__

ModuleNotFoundError: No module named 'pandas'

# EJERCIO 1 
Crear y visualizar un arreglo unidimensional como una estructura de Series.

In [ ]:
datos = [1, 2, 4, 5, 11]
serie = pd.Series(datos)

In [ ]:
serie

In [ ]:
serie.size

5

In [ ]:
serie.describe()

# EJERCICIO 2
Aplicar las operaciones artiméticas básicas sobre objetos series

In [ ]:
serie1 = pd.Series([1, 2, 5, 8, 10, 15, 69])
serie2 = pd.Series([1, 2.8, 6, 7, 13, 14, 68])

In [ ]:
serie1 + serie2

In [ ]:
serie1 - serie2

In [ ]:
serie1 * serie2

In [ ]:
serie1 / serie2

#Ejericicio 3

Convertir un diccionario python en un objeto series

In [ ]:
datos3 = {'a':10, 'b':20, 'c':30, 'd':40}

series3 = pd.Series(datos3)

series3

In [ ]:
series3['a']

# Ejercicio 4
Convertir un arreglo Numpy en un objeto Series

In [ ]:
import numpy as np

In [ ]:
arreglo4 = np.array([2, 5, 6, 7, 10, 20, 36, 54])
arreglo4

In [ ]:
series4 = pd.Series(arreglo4)

series4

#Ejercicio 5
Cambiar el tipo de datos de un objeto series.

datos5 = pd.Series(['100', '200', 'python', '300.15', '500.3'])

datos5

In [ ]:
datos5 = pd.to_numeric(datos5, errors='coerce')

datos5

# Ejercicio 6   
Obtener una columna de un objeto dataframe como un objeto series

In [ ]:
datos6 = {'A': [1, 2, 3, 4, 5], 'B':[1, 2, 3, 4, 5], 'C':[1, 2, 3, 4, 5]}

df6 = pd.DataFrame(data=datos6)

df6

In [ ]:
columna6 = df6.loc[:,1]

columna6

#Ejercicio 7

Extraer una fila de un dataframe como un objeto series

In [ ]:
datos7 = { 'A':[2, 3, 5, 5, 6], 'B':[2, 3, 4, 5, 6,7], 'C':[4, 6, 7, 8, 9,]}

datos7

In [ ]:
df7 = pd.DataFrame(data=datos7)

df7

In [ ]:
fila7 = df7.iloc[2:]

fila7

#Ejericio 10
Extraer una fila de un dataframe como un objeto series

In [ ]:
datos10 = {'A':[1, 3, 3, 4, 4], 'B': [3, 5, 6, 7, 8], 'C':[10, 20, 23, 54, 74]}

datos10

In [ ]:
df10 = pd.DataFrame(datos10)

df10

In [ ]:
fila10 = df10.iloc[2,:]

fila10

# Ejercicio 11
Convertir un objeto series con multiples listas en un unico  objeto serie

In [ ]:
datos11 = [['mexico','peru', 'colombia'], ['españa', 'alemania', 'francia'], ['rusia']]

serie11 = pd.Series(datos11)

serie11

#  Ejercicio 12
Ordenar los valores de un objeto series con el metodo sort_values

In [ ]:
datos12 = ['1.2', 'python', 'pandas', '1.888']

series12 = pd.Series(datos12)

series12

In [ ]:
series12_1 = pd.Series(series12).sort_values()

series12_1

In [ ]:
Ejercicio 13 
agregar mas datos a un objeto series

In [ ]:
datos13 = ['1.2', 'python', 'pandas', '1.888']

series13 = pd.Series(datos13)

series13

In [ ]:
series13_1 = series13.append(pd.Series(['121','java']))

series13_1

Ejercicio 14      
Crear un objeto series a partir de un filtro aplicado a otro objeto series

In [ ]:
datos14 = [1, 2, 3, 4, 5, 6, 7, 8, 10]

series14 = pd.Series(datos14)

series14

In [ ]:
serie_nueva14 = series14[series14 < 6]

serie_nueva14

EJERCICIO 15
Cambiar el orden de los indices de un objeto series

In [ ]:
datos15 = [1, 2, 3, 4,5]

indice15 = ['a','b', 'c', 'd', 'e']

In [ ]:
series15 = pd.Series(data=datos15, index=indice15) 

series15

In [ ]:
serie15_1 = series15.reindex(index=['A','B', 'C', 'D', 'E'])

serie15_1

Ejercicio 16
Calcular la desviación estandar y el promedio de un objeto series

In [ ]:
datos16 = [1, 6, 8, 14, 15, 16, 17, 25, 29]

series16 = pd.Series(datos16)

series16

In [ ]:
series16.std()

In [ ]:
series16.mean()

# Ejercicio 17
Calcular los valores minimo y maximo de un objeto serie

In [ ]:
series16.min()

In [ ]:
series16.max()

# Ejercicio 18
Obtener estadísticas básicas de un objeto series con describe

In [ ]:
series16.describe()

Ejercicio 19
Obtener los elementos pares e impares de un objeto series numérico

In [ ]:
datos19 = list(range(100))

datos19

In [ ]:
series19 = pd.Series(datos19)

series19

In [ ]:
pares =series19[series19 % 2 == 0]

pares

Ejercicio 20
Extraer los datos de un objeto series como un objeto numoy

In [ ]:
datos20 = list(range(20))

datos20

In [ ]:
datos20 = list(range(20))

datos20

In [ ]:
rreglo = series20.values

arreglo

Ejercicio 21

In [ ]:
datos21 = ['python','has', 'sus', 50, 'jassd']

series21 = pd.Series(datos21)

series21

In [ ]:
series21 =pd.to_numeric(series21, errors='coerce')

series21

In [ ]:
series21.hasnans


# Ejercicio 22
Obtener el tamaño en bytes de los elementos de un objeto series

In [ ]:
datos22 =list(range(15))

datos22

In [ ]:
series22 = pd.Series(datos22)

series22

In [ ]:
series22.nbytes

#  Ejercicio 23
Usar los métodos add, subtract, multiply y divide de la clase series

In [ ]:
series23 = pd.Series(list(range(1,11)))

series23

In [ ]:
series23_1 = pd.Series(list(range(10,0,-1)))

series23_1

In [ ]:
series23.add(series23_1)

In [ ]:
series23.subtract(series23_1)

In [ ]:
series23.multiply(series23_1)

In [ ]:
series23.divide(series23_1)

# Ejercicio 24 

Eliminar los valores NaN de una serie con el método dropna

In [ ]:
datos24 = list(range(10))

datos24

In [ ]:
datos24_1 = ['python', 'jAVA', 'PHP', np.nan]

datos24_1

In [ ]:
series24 = datos24 + datos24_1

series24

In [ ]:
series24_2 = pd.Series(series24)

series24_2

In [ ]:
eries24_2 = pd.to_numeric(series24_2, errors='coerce')  

series24_2

In [ ]:
series24_2 = series24_2.dropna()

series24_2

# Ejericicio 25
Calcular el valor absoluto de los elementos de un objeto series

In [ ]:
datos25 = [-1,-5,-45,-57]

series25 = pd.Series(datos25)

In [ ]:
series25.abs()

# Ejericcio 26
Usar la funcion agg de un objeto series

In [ ]:
series25.agg(min)

In [ ]:
series25.agg(abs)

In [ ]:
series25.agg(abs).agg(hex)

In [ ]:
series25.agg(sum)

# Ejericicio 27 
Reemplazar los valores NaN de una serie con un valor arbitrario

In [ ]:
Datos25 = ['PYTHON', 'R', 'Luis', 1, 58, 74, np.nan,'JOSE', 87, 'NOO']

series25 = pd.Series(datos25)

series25

In [ ]:
series25 = pd.to_numeric(series25, errors='coerce')

In [ ]:
series25.fillna(0, inplace=True)

series25

# Ejericicio 29
Obtener los primeros y últimos de un objeto series

In [ ]:
datos29 = list(range(1, 100))

series29 = pd.Series(datos29)

series29

In [ ]:
series29.head(10)

In [ ]:
series29.tail(10)

# Ejercicio 30
Usar la función where de la clase series

In [ ]:
datos30 = list(range(1,11))

series30 = pd.Series(datos30)

In [ ]:
series30.where(series30 > 5)

In [ ]:
series30.where(series30 <5, "VL")

# Ejercicio 31

Remover de una serie los elementos que no cumplen una condición

In [ ]:
datos31 = list(range(1, 88, 2))

series31 = pd.Series(datos31)

series31

In [ ]:
series31.where(series31 >= 35)

In [ ]:
series31.where(series31 >= 35).dropna()

# Ejericico 32
Contar los valores repetidos en una serie con value_count

In [ ]:
Datos32 =  list(range(1, 100, 5))

series32 = pd.Series(Datos32)

series32

In [ ]:
series32.value_counts()