In [1]:
import pandas as pd
pd.__version__
import numpy as np

# EJERCIO 1 
Crear y visualizar un arreglo unidimensional como una estructura de Series.

In [ ]:
datos = [1, 2, 4, 5, 11]
serie = pd.Series(datos)

In [ ]:
serie

In [ ]:
serie.size

5

In [ ]:
serie.describe()

# EJERCICIO 2
Aplicar las operaciones artiméticas básicas sobre objetos series

In [ ]:
serie1 = pd.Series([1, 2, 5, 8, 10, 15, 69])
serie2 = pd.Series([1, 2.8, 6, 7, 13, 14, 68])

In [ ]:
serie1 + serie2

In [ ]:
serie1 - serie2

In [ ]:
serie1 * serie2

In [ ]:
serie1 / serie2

# Ejericicio 3

Convertir un diccionario python en un objeto series

In [ ]:
datos3 = {'a':10, 'b':20, 'c':30, 'd':40}

series3 = pd.Series(datos3)

series3

In [ ]:
series3['a']

# Ejercicio 4
Convertir un arreglo Numpy en un objeto Series

In [ ]:
import numpy as np

In [ ]:
arreglo4 = np.array([2, 5, 6, 7, 10, 20, 36, 54])
arreglo4

In [ ]:
series4 = pd.Series(arreglo4)

series4

# Ejercicio 5
Cambiar el tipo de datos de un objeto series.

In [2]:
datos5 = pd.Series(['100', '200', 'python', '300.15', '500.3'])

datos5

0       100
1       200
2    python
3    300.15
4     500.3
dtype: object

In [3]:
datos5 = pd.to_numeric(datos5, errors='coerce')

datos5

0    100.00
1    200.00
2       NaN
3    300.15
4    500.30
dtype: float64

# Ejercicio 6   
Obtener una columna de un objeto dataframe como un objeto series

In [ ]:
datos6 = {'A': [1, 2, 3, 4, 5], 'B':[1, 2, 3, 4, 5], 'C':[1, 2, 3, 4, 5]}

df6 = pd.DataFrame(data=datos6)

df6

In [ ]:
columna6 = df6.loc[:,1]

columna6

# Ejercicio 7

Extraer una fila de un dataframe como un objeto series

In [ ]:
datos7 = { 'A':[2, 3, 5, 5, 6], 'B':[2, 3, 4, 5, 6,7], 'C':[4, 6, 7, 8, 9,]}

datos7

In [ ]:
df7 = pd.DataFrame(data=datos7)

df7

In [ ]:
fila7 = df7.iloc[2:]

fila7

#Ejericio 10
Extraer una fila de un dataframe como un objeto series

In [ ]:
datos10 = {'A':[1, 3, 3, 4, 4], 'B': [3, 5, 6, 7, 8], 'C':[10, 20, 23, 54, 74]}

datos10

In [ ]:
df10 = pd.DataFrame(datos10)

df10

In [ ]:
fila10 = df10.iloc[2,:]

fila10

# Ejercicio 11
Convertir un objeto series con multiples listas en un unico  objeto serie

In [ ]:
datos11 = [['mexico','peru', 'colombia'], ['españa', 'alemania', 'francia'], ['rusia']]

serie11 = pd.Series(datos11)

serie11

#  Ejercicio 12
Ordenar los valores de un objeto series con el metodo sort_values

In [ ]:
datos12 = ['1.2', 'python', 'pandas', '1.888']

series12 = pd.Series(datos12)

series12

In [ ]:
series12_1 = pd.Series(series12).sort_values()

series12_1

In [ ]:
Ejercicio 13 
agregar mas datos a un objeto series

In [ ]:
datos13 = ['1.2', 'python', 'pandas', '1.888']

series13 = pd.Series(datos13)

series13

In [ ]:
series13_1 = series13.append(pd.Series(['121','java']))

series13_1

# Ejercicio 14      
Crear un objeto series a partir de un filtro aplicado a otro objeto series

In [ ]:
datos14 = [1, 2, 3, 4, 5, 6, 7, 8, 10]

series14 = pd.Series(datos14)

series14

In [ ]:
serie_nueva14 = series14[series14 < 6]

serie_nueva14

# EJERCICIO 15
Cambiar el orden de los indices de un objeto series

In [ ]:
datos15 = [1, 2, 3, 4,5]

indice15 = ['a','b', 'c', 'd', 'e']

In [ ]:
series15 = pd.Series(data=datos15, index=indice15) 

series15

In [ ]:
serie15_1 = series15.reindex(index=['A','B', 'C', 'D', 'E'])

serie15_1

# Ejercicio 16
Calcular la desviación estandar y el promedio de un objeto series

In [ ]:
datos16 = [1, 6, 8, 14, 15, 16, 17, 25, 29]

series16 = pd.Series(datos16)

series16

In [ ]:
series16.std()

In [ ]:
series16.mean()

# Ejercicio 17
Calcular los valores minimo y maximo de un objeto serie

In [ ]:
series16.min()

In [ ]:
series16.max()

# Ejercicio 18
Obtener estadísticas básicas de un objeto series con describe

In [ ]:
series16.describe()

# Ejercicio 19
Obtener los elementos pares e impares de un objeto series numérico

In [ ]:
datos19 = list(range(100))

datos19

In [ ]:
series19 = pd.Series(datos19)

series19

In [ ]:
pares =series19[series19 % 2 == 0]

pares

# Ejercicio 20
Extraer los datos de un objeto series como un objeto numoy

In [ ]:
datos20 = list(range(20))

datos20

In [ ]:
datos20 = list(range(20))

datos20

In [ ]:
rreglo = series20.values

arreglo

# Ejercicio 21

In [ ]:
datos21 = ['python','has', 'sus', 50, 'jassd']

series21 = pd.Series(datos21)

series21

In [ ]:
series21 =pd.to_numeric(series21, errors='coerce')

series21

In [ ]:
series21.hasnans


# Ejercicio 22
Obtener el tamaño en bytes de los elementos de un objeto series

In [ ]:
datos22 =list(range(15))

datos22

In [ ]:
series22 = pd.Series(datos22)

series22

In [ ]:
series22.nbytes

#  Ejercicio 23
Usar los métodos add, subtract, multiply y divide de la clase series

In [ ]:
series23 = pd.Series(list(range(1,11)))

series23

In [ ]:
series23_1 = pd.Series(list(range(10,0,-1)))

series23_1

In [ ]:
series23.add(series23_1)

In [ ]:
series23.subtract(series23_1)

In [ ]:
series23.multiply(series23_1)

In [ ]:
series23.divide(series23_1)

# Ejercicio 24 

Eliminar los valores NaN de una serie con el método dropna

In [ ]:
datos24 = list(range(10))

datos24

In [ ]:
datos24_1 = ['python', 'jAVA', 'PHP', np.nan]

datos24_1

In [ ]:
series24 = datos24 + datos24_1

series24

In [ ]:
series24_2 = pd.Series(series24)

series24_2

In [ ]:
eries24_2 = pd.to_numeric(series24_2, errors='coerce')  

series24_2

In [ ]:
series24_2 = series24_2.dropna()

series24_2

# Ejericicio 25
Calcular el valor absoluto de los elementos de un objeto series

In [ ]:
datos25 = [-1,-5,-45,-57]

series25 = pd.Series(datos25)

In [ ]:
series25.abs()

# Ejericcio 26
Usar la funcion agg de un objeto series

In [ ]:
series25.agg(min)

In [ ]:
series25.agg(abs)

In [ ]:
series25.agg(abs).agg(hex)

In [ ]:
series25.agg(sum)

# Ejericicio 27 
Reemplazar los valores NaN de una serie con un valor arbitrario

In [ ]:
Datos25 = ['PYTHON', 'R', 'Luis', 1, 58, 74, np.nan,'JOSE', 87, 'NOO']

series25 = pd.Series(datos25)

series25

In [ ]:
series25 = pd.to_numeric(series25, errors='coerce')

In [ ]:
series25.fillna(0, inplace=True)

series25

# Ejericicio 29
Obtener los primeros y últimos de un objeto series

In [ ]:
datos29 = list(range(1, 100))

series29 = pd.Series(datos29)

series29

In [ ]:
series29.head(10)

In [ ]:
series29.tail(10)

# Ejercicio 30
Usar la función where de la clase series

In [ ]:
datos30 = list(range(1,11))

series30 = pd.Series(datos30)

In [ ]:
series30.where(series30 > 5)

In [ ]:
series30.where(series30 <5, "VL")

# Ejercicio 31

Remover de una serie los elementos que no cumplen una condición

In [ ]:
datos31 = list(range(1, 88, 2))

series31 = pd.Series(datos31)

series31

In [ ]:
series31.where(series31 >= 35)

In [ ]:
series31.where(series31 >= 35).dropna()

# Ejericico 32
Contar los valores repetidos en una serie con value_count

In [ ]:
Datos32 =  list(range(1, 100, 5))

series32 = pd.Series(Datos32)

series32

In [ ]:
series32.value_counts()

# Ejericicio 33
Generar la representación JSON de un objeto series

In [ ]:
series33 = pd.Series([1, 2, 3, 4, 5, 6, 7])

series33

In [ ]:
series33.to_json

# Ejercicio 34
Obtener la representación de diccionario de un objeto series

In [ ]:
capitales = ['lima', 'moscu', 'cdmx', 'madrid']

paises = ['peru', 'rusia', 'mexico', ' espana']


series34 = pd.Series(capitales, index=paises)

series34

In [ ]:
series34.to_dict()

# Ejercicio 35
Crear un objeto DF a partir de un objeto series

In [3]:
datos35 = [2,5,4,7,8,9,6,10]

serie35 = pd.Series(datos35)
serie35

0     2
1     5
2     4
3     7
4     8
5     9
6     6
7    10
dtype: int64

In [5]:
df35 = serie35.to_frame()
df35

    0
0   2
1   5
2   4
3   7
4   8
5   9
6   6
7  10

In [6]:
type(serie35)

pandas.core.series.Series

# Ejercicio 36
Convertir el contenido de un objeto series en formato csv

In [10]:
datos36 = ["py","ba","ls","lsls","re","dsf"]

serie36 = pd.Series(datos36)

serie36

0      py
1      ba
2      ls
3    lsls
4      re
5     dsf
dtype: object

In [13]:
serie36.to_csv(index=False)

'0\npy\nba\nls\nlsls\nre\ndsf\n'

# Ejercicio 37
Aplicar una función sobre los valores de un objeto series

In [15]:
serie37 = pd.Series([2,1,5], index=["la","lo","lu"])
serie37

la    2
lo    1
lu    5
dtype: int64

In [17]:
def cuadrado(x):
    return x * x

serie37.apply(cuadrado)

la     4
lo     1
lu    25
dtype: int64

# Ejercicio 38
Encontrar los elementos que estan dentro de un rango con between

In [19]:
datos38 = [0,4,5,7,58,36,1,4,24,7,38]

serie38 = pd.Series(datos38)
serie38

0      0
1      4
2      5
3      7
4     58
5     36
6      1
7      4
8     24
9      7
10    38
dtype: int64

In [20]:
serie38.between(2,20)

0     False
1      True
2      True
3      True
4     False
5     False
6     False
7      True
8     False
9      True
10    False
dtype: bool

# Ejercicio 39
Calcular producto punto entre dos series

In [23]:
serie38a = pd.Series([2,3,4,5])
serie38b = pd.Series([7,8,9,10])

In [24]:
serie38a.dot(serie38b)

124

# Ejercicio 40
Remover los elementos duplicados de un objeto series con drop_duplicates

In [2]:
datos40 = ["py","ba","py","ls","lsls","re","lsls","dsf"]

In [3]:
serie40 = pd.Series(datos40, name="palabras")
serie40

0      py
1      ba
2      py
3      ls
4    lsls
5      re
6    lsls
7     dsf
Name: palabras, dtype: object

In [4]:
serie40.drop_duplicates()

0      py
1      ba
3      ls
4    lsls
5      re
7     dsf
Name: palabras, dtype: object

# Ejercicico 41
Verificar con equal si dos series son iguales

In [6]:
datos41a = [1,2,3,4,5]
datos41b = [1,2,3,4,5]

serie41a = pd.Series(datos41a)
serie41b = pd.Series(datos41b)

In [7]:
serie41a.equals(serie41b)

True

# Ejercicio 45
Crear un objeto de la clase dataframe

In [2]:
datos45 = {"x": [1,2,34,5], "y":[1,2,3,45]}

In [4]:
df45 = pd.DataFrame(datos45)
df45

    x   y
0   1   1
1   2   2
2  34   3
3   5  45

# Ejercicio 50
Obtener las colunas de un determinado tipo de dato con select_dtypes

In [2]:
datos50 = {"real":[3.1416], "entero":[0],"fecha":[pd.Timestamp("20170121")],"cadena":["pthon"]}

In [3]:
df50 = pd.DataFrame(datos50)
df50

     real  entero      fecha cadena
0  3.1416       0 2017-01-21  pthon

In [5]:
df50.select_dtypes(include="int64")

   entero
0       0

In [6]:
df50.select_dtypes(include=["int64","float64"])

     real  entero
0  3.1416       0

# Ejercicio 51 
Obtener las primeras N filas de un objeto dataframe

In [6]:
nombre = ["Luis","Angel","Jesus","Karen","Carlos"]
puntaje = [8,9,10,4,5]
intentos = [1,2,4,5,2]
califico = ["Sí","Sí","Sí","No","No"]
indices = ["a", "b", "c", "d","e"]

In [7]:
jugadores = {"nombre":nombre, "puntaje":puntaje, "intentos": intentos, "califico":califico, "indices":indices}

In [8]:
dt51 = pd.DataFrame(data=jugadores, index=indices)
dt51

   nombre  puntaje  intentos califico indices
a    Luis        8         1       Sí       a
b   Angel        9         2       Sí       b
c   Jesus       10         4       Sí       c
d   Karen        4         5       No       d
e  Carlos        5         2       No       e

In [10]:
dt51.iloc[:2]

  nombre  puntaje  intentos califico indices
a   Luis        8         1       Sí       a
b  Angel        9         2       Sí       b

# Ejercicio 53
Obtener la representación de numpy en un objeto dataframe

In [2]:
datos53 = {"X":[1,2,3],"Y":[4,5,6],"Z":[7,8,9]}

In [3]:
df53 = pd.DataFrame(datos53)
df53

   X  Y  Z
0  1  4  7
1  2  5  8
2  3  6  9

In [4]:
df53.to_numpy()

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

# Ejercicio 54
Selecionar columnas de un dataframe usando notación slicing

In [8]:
nombre = ["Luis","Angel","Jesus","Karen","Carlos"]
puntaje = [8,9,10,4,5]
intentos = [1,2,4,5,2]
califico = ["Sí","Sí","Sí","No","No"]
indices = ["a", "b", "c", "d","e"]
jugadores = {"nombre":nombre, "puntaje":puntaje, "intentos": intentos, "califico":califico, "indices":indices}

In [9]:
dt54 = pd.DataFrame(data=jugadores, index=indices)
dt54

   nombre  puntaje  intentos califico indices
a    Luis        8         1       Sí       a
b   Angel        9         2       Sí       b
c   Jesus       10         4       Sí       c
d   Karen        4         5       No       d
e  Carlos        5         2       No       e

In [10]:
dt54[["nombre","califico"]]

   nombre califico
a    Luis       Sí
b   Angel       Sí
c   Jesus       Sí
d   Karen       No
e  Carlos       No

# Ejercicio 55 
Obtener la información de los ejes de un dataframe

In [11]:
dt54.axes

[Index(['a', 'b', 'c', 'd', 'e'], dtype='object'),
 Index(['nombre', 'puntaje', 'intentos', 'califico', 'indices'], dtype='object')]

# Ejercicico 56 
Selecionar filas y columnas especificas de un dataframe con iloc

In [12]:
dt54.iloc[[0,2],[0,3]]

  nombre califico
a   Luis       Sí
c  Jesus       Sí

# Ejercicio 57 
Obtener la dimensión, el tamaño y la forma de un objeto dataframe

In [13]:
dt54.ndim

2

In [14]:
dt54.size

25

In [15]:
dt54.shape

(5, 5)

# Ejercicio 61
Comprobar com empty si un objeto dataframe está vacío

In [2]:
df60 =pd.DataFrame({"X":[]})

In [3]:
df60.empty

True

# Ejercicio 60 
Seleccionar los registros de un dataframe con campo nulo(NaN)

In [4]:
nombre = ["Luis","Angel","Jesus","Karen","Carlos"]
puntaje = [8,9,np.nan,4,5]
intentos = [1,2,4,5,2]
califico = ["Sí","Sí","Sí","No","No"]
indices = ["a", "b", "c", "d","e"]
jugadores = {"nombre":nombre, "puntaje":puntaje, "intentos": intentos, "califico":califico, "indices":indices}

In [7]:
df61 =pd.DataFrame(data=jugadores, index=indices)
df61

   nombre  puntaje  intentos califico indices
a    Luis      8.0         1       Sí       a
b   Angel      9.0         2       Sí       b
c   Jesus      NaN         4       Sí       c
d   Karen      4.0         5       No       d
e  Carlos      5.0         2       No       e

In [10]:
df61[df61["puntaje"].isnull()]

  nombre  puntaje  intentos califico indices
c  Jesus      NaN         4       Sí       c

# Ejercicio 62
Crear un objeto DataFrame a partir de un objeto series

In [1]:
nombres62 = pd.Series(["Luis","Angel","Vazquez","Lara"])
edades62 = pd.Series([12,14,23,15])

personas62 = {"Nombre":nombres62, "Edad":edades62}

In [2]:
df62 = pd.DataFrame(personas62)
df62

    Nombre  Edad
0     Luis    12
1    Angel    14
2  Vazquez    23
3     Lara    15

# Ejercicio 63
Cmabiar el tipo de dato de una o más columnas con astype

In [3]:
df62.dtypes

Nombre    object
Edad       int64
dtype: object

In [10]:
df62.astype({"Edad":"int32"}).dtypes

Nombre    object
Edad       int32
dtype: object

# Ejercicio 64 
Registros donde los valores de una columna esten en un rango

In [13]:
nombre = ["Luis","Angel","Jesus","Karen","Carlos"]
puntaje = [8,9,5,4,5]
intentos = [1,2,4,5,2]
califico = ["Sí","Sí","Sí","No","No"]
indices = ["a", "b", "c", "d","e"]
jugadores = {"nombre":nombre, "puntaje":puntaje, "intentos": intentos, "califico":califico, "indices":indices}

In [14]:
df64 = pd.DataFrame(data=jugadores, index=indices)
df64

   nombre  puntaje  intentos califico indices
a    Luis        8         1       Sí       a
b   Angel        9         2       Sí       b
c   Jesus        5         4       Sí       c
d   Karen        4         5       No       d
e  Carlos        5         2       No       e

In [16]:
df64[df64["puntaje"].between(8,9)]

  nombre  puntaje  intentos califico indices
a   Luis        8         1       Sí       a
b  Angel        9         2       Sí       b

# Ejercicio 65
Determinar los datos en un dataframe que son nulos (Nan)

In [12]:
n65 = ['Luis','Angel','Vazquez','Lara']
edad65 = [12,15,25,np.nan]
fecha65 = [pd.Timestamp('1997-01-05'),None,np.nan,None]

In [13]:
personas65 = {'Nombres':n65,'edad':edad65,'fecha':fecha65}

In [15]:
df65 = pd.DataFrame(data=personas65)
df65

   Nombres  edad      fecha
0     Luis  12.0 1997-01-05
1    Angel  15.0        NaT
2  Vazquez  25.0        NaT
3     Lara   NaN        NaT

In [16]:
df65.isna()

   Nombres   edad  fecha
0    False  False  False
1    False  False   True
2    False  False   True
3    False   True   True

# Ejercicio 66
Encontrar los datos de un dataframe que no son nulos(NaN)

In [17]:
df65.notna()

   Nombres   edad  fecha
0     True   True   True
1     True   True  False
2     True   True  False
3     True  False  False

# Ejercicio 67 
Accerder a un valor o entrada especifico de un dataframe con ar

In [20]:
datos67 = {'X':[1,2,3],'C':[4,5,6],'V':[7,8,9]}
indice67 = ['a','b','c']

In [21]:
df67 = pd.DataFrame(data=datos67, index=indice67)
df67

   X  C  V
a  1  4  7
b  2  5  8
c  3  6  9

In [22]:
df67.at['b','C']

5

In [23]:
df67.at['c','V']

9

# Ejercicio 68
Modificar un valor o entrada especifico de un objeto dataframe con at

In [25]:
df67.at['c','V']='K'
df67

   X  C  V
a  1  4  7
b  2  5  8
c  3  6  K

# Ejercicio 69
Modificar un valor especifico de un objeto dataframe con loc

In [26]:
df67.loc['a','C']=14
df67

   X   C  V
a  1  14  7
b  2   5  8
c  3   6  K

# Ejercicio 70
Accerder a un valor o entrada especifico de un objeto dataframe usando loc

In [27]:
df67.loc['a','V']

7

# Ejercicio 71 
Sumar los valores de una columna de un dataframe con sum

In [4]:
nombre = ["Luis","Angel","Jesus","Karen","Carlos"]
puntaje = [8,9,5,4,5]
intentos = [1,2,4,5,2]
califico = ["Sí","Sí","Sí","No","No"]
indices = ["a", "b", "c", "d","e"]
jugadores = {"nombre":nombre, "puntaje":puntaje, "intentos": intentos, "califico":califico, "indices":indices}

In [5]:
df71 = pd.DataFrame(data=jugadores, index=indices)

In [6]:
df71['intentos'].sum()

14

# Ejercicio 72
Acceder a una entrada de un dataframe utilizando indices númericos con iat

In [7]:
datos72 = {'X':[1,2,3],'C':[4,5,6],'V':[7,8,9]}
indice72 = ['a','b','c']

In [9]:
df72 = pd.DataFrame(data=datos72, index=indice72)
df72

   X  C  V
a  1  4  7
b  2  5  8
c  3  6  9

In [10]:
df72.iat[0,2]

7

In [11]:
df72.iat[1,1]

5

# Ejercicio 73 
Calcular el promedio de los valores de una columna de un dataframe

In [14]:
df71['intentos'].mean()

2.8

# Ejercicio 74
Insertar una nueva columna en una posición especifica con la función insert

In [15]:
df72 = pd.DataFrame(data=datos72, index=indice72)
df72

   X  C  V
a  1  4  7
b  2  5  8
c  3  6  9

In [28]:
df72.insert(1,'O',2)
df72

   X  O  P  C  V
a  1  2  2  4  7
b  2  2  2  5  8
c  3  2  2  6  9

# Ejercicio 75
Agregar una nueva fila a un objeto dataframe por medio de loc

In [37]:
df71.loc["k"] = ["Sebastian",17,2,"sí"]

ValueError: cannot set a row with mismatched columns

# Ejercicio 76
Recorrer cada una de las columnas de un dataframe con items

In [38]:
df72 = pd.DataFrame(data=datos72, index=indice72)
df72

   X  C  V
a  1  4  7
b  2  5  8
c  3  6  9

In [39]:
for etiqueta, contenido in df72.items():
    print('Nombre de columna', etiqueta)
    print('Contenido', contenido,)

Nombre de columna X
Contenido a    1
b    2
c    3
Name: X, dtype: int64
Nombre de columna C
Contenido a    4
b    5
c    6
Name: C, dtype: int64
Nombre de columna V
Contenido a    7
b    8
c    9
Name: V, dtype: int64

# Ejercicio 77
Eliminar una fila de un dataframe con la función drop

In [5]:
nombre = ["Luis","Angel","Jesus","Karen","Carlos"]
puntaje = [8,9,5,4,5]
intentos = [1,2,4,5,2]
califico = ["Sí","Sí","Sí","No","No"]
indices = ["a", "b", "c", "d","e"]
jugadores = {"nombre":nombre, "puntaje":puntaje, "intentos": intentos, "califico":califico, "indices":indices}

df77 = pd.DataFrame(data=jugadores, index=indices)
df77

   nombre  puntaje  intentos califico indices
a    Luis        8         1       Sí       a
b   Angel        9         2       Sí       b
c   Jesus        5         4       Sí       c
d   Karen        4         5       No       d
e  Carlos        5         2       No       e

In [42]:
df77.drop('e')

  nombre  puntaje  intentos califico indices
a   Luis        8         1       Sí       a
b  Angel        9         2       Sí       b
c  Jesus        5         4       Sí       c
d  Karen        4         5       No       d

# Ejercicio 78
Ordenar en modo descendente un dataframe por diferentes columnas

In [8]:
df77.sort_values(by="nombre").ascending=[True]

/tmp/ipykernel_1864/2249348229.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df77.sort_values(by="nombre").ascending=[True]